body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.ff-oswald {
    font-family: "Oswald", sans-serif;
}

.ff-mont {
    font-family: "Montserrat", sans-serif;
}

.btn-corp {
    background: #12305D;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 20px 30px;
    font-size: 14px;
}

.btn-corp:hover {
    color: #12305D;
    outline: 1px solid #12305D;
}

/*  utiles  */
a {
    color: inherit;
    text-decoration: none;
}

.bg-corp {
    background: #EFF5FF;
}

.bg-dust {
    background: #444444;
}

.text-dust {
    color: #7C7C7C;
}

.text-primary {
    color: #4080F5 !important;
}

.border-bottom-corp {
    border-bottom: 1px solid #F1F6FF;
}

/*  typography  */
.text-2xl {
    font-size: clamp(1.25rem, 0.775rem + 2.375vw, 3.625rem);
}

.text-xl {
    font-size: clamp(1.125rem, 0.825rem + 1.5vw, 2.625rem);
}

.text-lg {
    font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
}

.text-md {
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}

.text-sm {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.text-xs {
    font-size: clamp(0.8125rem, 0.8rem + 0.0625vw, 0.875rem);
}

/*  custom styles */
.navbar {
    background: #EFF5FF;
}

.navbar-toggler-icon {
    background-image: url('/assets/icons/main/burger.svg');
    width: 1em;
    height: 1em;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    font-size: 14px;
    font-weight: 600;
}

.nav-link.active,
.nav-link:hover {
    color: #F20952 !important;
}

.logo {
    width: 190px;
}

.input-search-wrapper .form-control {
    border: none;
    border-radius: 10px;
    background: #EFF5FF;
    padding: 10px 15px;
}

.input-search-wrapper .form-control::placeholder {
    color: #A9B5B8;
    font-weight: 500;
    font-size: 14px;
}

.search-icon {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.input-search-wrapper {
    width: 250px;
}

.bottom-custom {
    bottom: -12px;
}

.banner-info {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.slider-banner-prev,
.slider-banner-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

}



.slider-banner-prev {
    left: -55px;
}

.slider-banner-next {
    right: -55px;
}

.border-start-lg {
    border-left: 1px solid #62799E;
}

.card-wrapper {
    background: #EFF5FF;
    border: 1px solid #A6C7FF;
    border-radius: 10px;
}

.card-wrapper img,
.card-wrapper p {
    transition: all 0.3s ease;
}

.card-wrapper:hover img {
    transform: scale(1.1);
}

.card-wrapper:hover p {
    color: #4080F5;
}

.icon-size {
    height: 60px;
}

.accordion-item:first-of-type {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #C0C0C0;
}

.accordion-button:focus {
    box-shadow: unset;
}

.accordion-button:not(.collapsed) {
    background-color: #EFF5FF;
}

.accordion-button::after {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
}

.icon-size-2 {
    height: 25px;
}

@media(max-width: 990px) {
    .navbar {
        background: unset;
    }

    .nav-link {
        font-size: 18px;
    }

    .banner-bg {
        height: 1000px;
    }

    .slider-banner-prev {
        left: 0;
    }

    .slider-banner-next {
        right: 0;
    }

    .border-start-lg {
        border: none;
    }
}

@media(max-width:768px) {

    .slider-item img {
        width: 250px;
        display: block;
        margin: 0 auto;
    }

    .banner-bg {
        height: 800px;
    }

    .slider-banner-prev,
    .slider-banner-next {
        top: 20%;
        transform: translateY(-20%);
    }

    .btn-corp {
        padding: 15px 20px;
    }
}

@media(max-width:576px) {
    .logo {
        width: 150px;
    }

    .slider-item img {
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .banner-bg {
        height: 550px;
    }

    .btn-corp {
        padding: 10px 15px;
    }
}